# -----------------------------------------
# ARCHIVOS DEL SISTEMA Y BASURA
# -----------------------------------------
.DS_Store
.atom/
.history
.svn/
Thumbs.db

# -----------------------------------------
# FLUTTER Y DART (Lo pesado que no se sube)
# -----------------------------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Ignoramos la carpeta build original (porque es muy pesada)
/build/

# -----------------------------------------
# DESPLIEGUE WEB (GitHub Pages)
# -----------------------------------------
# Esta regla es importante:
# Aseguramos que la carpeta 'docs' NUNCA sea ignorada,
# porque ahí vive tu página web manos-del-pueblo.ar
!/docs/

# -----------------------------------------
# IDEs (Configuraciones de tu editor)
# -----------------------------------------
# VS Code
.vscode/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# -----------------------------------------
# ARCHIVOS GENERADOS (Android/iOS)
# -----------------------------------------
**/doc/api/
**/ios/Flutter/.last_build_id
/android/app/debug
/android/app/profile
/android/app/release